{#links}
  {?image}
    <a href="{url}" class="chat-link-img" target="_blank" rel="noreferrer">
      <img src="{url}" alt="" class="chat-attachment-img">
      <span class="chat-hide-inline-img fa fa-close" onclick="return ChatFront.hideImage(this);">
    </a>
  {/image}
{/links}