<div class="chat-my-whisper" data-id="{id}">
  {?timestamp}
    <span class="chat-time">{timestamp}</span>{~s}
  {/timestamp}
  <span class="">
    <i class="fa fa-user"></i>{~s}
    <i class="fa fa-angle-right"></i>{~s}
    <span class="chat-user chat-whisper-user" onclick="ChatFront.whisperTo(this)" data-name="{user.name}">{user.name}</span>:{~s}
  </span>
  <div class="chat-msg-bag">
    <span class="chat-msg">{msg|s}</span>
    <span class="chat-attachments">
      {>"chat-msg-attachments"/}
    </span>
  </div>
</div>