.chat-spoiler,
.chat-spoiler > a
  background: #000
  color: #000

.reveal-spoilers .chat-spoiler,
.chat-spoiler:hover
  color: #fff

.reveal-spoilers .chat-spoiler > a,
.chat-spoiler:hover > a
  color: #B9ADB4

.chat-spoiler > .chat-link-img:after
  content: 'SPOILER'
  text-align: center
  line-height: 100px
  color: #fff
  font-size: 0.75em
  overflow: hidden
  position: absolute
  background: #000
  top: 0
  left: 0
  z-index: 10
  height: 100%
  width: 100%
  display: block

.chat-spoiler:hover > .chat-link-img:after
  opacity: 0

.chat-msg-hilight
  color: #ffa200

.chat-msg-item.ignored
  display: none

.chat-msg-item.global
.chat-msg-item.global > .chat-msg-content:before
  font-size: 0.8em
  color: #f49716
  content: '[Global] '
.chat-msg-item.global > .chat-avatar
  display: none
.chat-msg-item.global > .chat-msg-content
  font-size: 1.1em
  display: block
  margin-top: 5px
  margin-bottom: 5px
  background-color: transparent
  left: 0
  max-width: 100%
  border: 2px solid #443a43



// .chat-user-mode
.chat-user-mod .chat-user-mode:before
  content: '@'
.chat-user-owner .chat-user-mode:before
  content: '~'
.chat-user-admin .chat-user-mode:before
  content: '&'

#modal-user-profile
  .avatar
    max-height: 5rem
    max-width: 5rem
    height: auto

.chat-whisper,
.chat-my-whisper
  .chat-time
    color: lighten(#634954, 40%)
.chat-whisper
  background-color: #634954
.chat-my-whisper
  background-color: #765c66

.chat-carving
  max-height: 3rem