$header-height: 2.75rem
$chat-top-height: 2rem
$chat-input-height: 2.75rem
$chat-submit-width: 100px

$font-size-small: 0.8rem

/* colors */

$bg-color: #191719
$bg-color2: #2b272d
// $bg-color3: #443a43
$bg-color3: desaturate(lighten(#443a43, 5%),2%)

// $bg-color: #1F2023
// $bg-color2: #2F2F2F
// $bg-color3: #454545

$color-text:      #eee
$color-link:      #cb3864
// $color-chat-link: lighten(saturate($bg-color3,8%),40%)
$color-chat-link: #e970b4
$color-primary:   #cb3864
$color-secondary: #5c4a51
$color-info:      #454593
$color-success:   #4f7244
$color-warning:   #f49716
$color-danger:    #6d1917
$color-muted:     mix($color-text, $color-secondary, 25%)
$color-help:      mix($color-text, $color-primary, 65%)

/* On Firefox mobile TSE doesn't seem to calculate the width of .tse-scroll-content properly, presumably due to some differences in the stock scrollbar. There are at least these two ways around it, but the width hack seems to work better. */
@media (-moz-touch-enabled)
  // .tse-content
  //   margin-right: 16px !important
  .tse-scroll-content
    width: 100% !important

body
  color: $color-text
  background: $bg-color
  // font-size: 16px

.tse-scrollbar .drag-handle
  background: lighten($bg-color3,5%) !important

.site-header
  background-color: $bg-color
  border-bottom: 1px solid $bg-color2

.navbar-dark .navbar-brand
  color: $color-primary

.dropdown-menu
  background-color: $bg-color3
  line-height: 1.75

.dropdown-divider
  background-color: lighten($bg-color3, 15%)

.dropdown-header
  color: lighten($color-muted, 25%)

.dropdown-item
  color: $color-text

.dropdown-item:focus,
.dropdown-item:hover
  background-color: $color-primary
  color: $color-text
  a
    color: $color-text

/* util classes */

.inactive
  opacity: 0.5

.small-block
  max-width: 20rem

.simple
  .site-header,
  .main-content
    max-width: 50rem
    margin-left: auto
    margin-right: auto
  .site-header
    border-bottom: 0
  .site-header .navbar-nav
    display: block
    .nav-link,
    .navbar-brand
      float: none
  .site-header-main
    margin-top: 1rem
    text-align: center

.form-control-help
  color: $color-help
  font-size: $font-size-small
  text-align: right

.card-ib
  display: inline-block

.card-ib:not(:last-of-type)
  margin-right: 1rem

.dropdown-right
  right: 0
  left: auto

.hide-players
  .players-container
    width: 0
    right: 0
  .chat-container
    left: 0

.hide-userlist
  .chat-aside
    left: 100%
  .chat-main
    width: 100%

/* header */

.site-header
  padding: 0 1rem
  height: $header-height
  line-height: $header-height
  box-sizing: content-box
  .navbar-nav,
  .nav-item
    display: inline-block
    height: $header-height
    line-height: $header-height
  .navbar-nav .nav-link,
  .navbar-brand,
  .dropdown-toggle
    padding-top: 0
    padding-bottom: 0
  .actions
    cursor: pointer
  .actions + .actions
    margin-left: 0.3rem
  .user .avatar
    height: $header-height * 0.8
    margin-top: $header-height * 0.1
    vertical-align: top
  .user:hover .avatar
    transition: all 0.1s linear
    box-shadow: 0 0 5px 1px $color-muted
  .login-button
    height: 1.75rem
    line-height: 1.5rem
    margin-top: 0.25rem
    margin-left: 1rem
    padding: 0.25rem 1rem
  .dropdown-menu
    margin-top: 0
  .dropdown-item
    width: auto

/* modals */

.modal-header
  border-bottom: 1px solid $bg-color3
.modal-footer
  border-top: 1px solid $bg-color3
.modal-content
  font-size: $font-size-small
  background-color: $bg-color2
.options-modal
  fieldset + fieldset
    margin-top: 1rem
  fieldset > div
    border-bottom: 1px solid $bg-color3
    border-left: 1px solid $bg-color3
    padding: 0.15rem 0
  .suboption-list > div
    border-top: 1px solid $bg-color3
    margin-top: 0.15rem
    padding-top: 0.15rem
  legend
    color: $color-help
    font-size: 1rem
    margin-bottom: 0rem
  fieldset > div > label,
  fieldset > div > span,
    display: block
    margin: 0rem
    padding-left: 0.5rem
  .suboption-list > div > label,
  .suboption-list > div > span,
    display: block
    margin: 0rem
  .input-container
    float: right
    text-align: right
    label
      display: block
    input
      font-size: $font-size-small
  .description
    color: $color-muted
  [data-value="false"] > .suboption-list
    display: none
  .suboption-list,
  .suboption-list > div
    position: relative
  .suboption-list::before,
  .suboption-list > div::before
    content: ""
    display: inline-block
    position: absolute
    left: .7rem
    width: 0
    height: 100%
    border-left: 1px solid $bg-color3
  .suboption-list > div
    padding-left: 1.4rem
  .suboption-list > div::before
    width: .7rem
    height: .8rem
    border-bottom: 1px solid $bg-color3


/* page-dependant spacing etc */

body.logged-in .when-logged-out,
body.logged-out .when-logged-in
  display: none

.main-content
  margin-top: 2rem

body.page-room .main-content
  margin-top: 0
  padding: 0

body.page-chat .main-content
  margin-top: 0

/* home */

article.news
  padding: 0.5rem
  border: 1px solid $bg-color3
  border-radius: 0.25rem
  header
    background: $bg-color2
    border: 0
    margin-bottom: 1rem
    .published
      float: right
    h2
      margin-bottom: 0
      display: inline-block
  section
    font-size: 0.9rem
    p:last-of-type
      margin-bottom: 0
article.news + article.news
  margin-top: 1rem

/* help */

.page-help
  h1
    border-bottom: 2px solid #3a303a
  h2
    font-size: 1.25rem
    border-bottom: 1px solid #3a303a
  h3
    font-size: 1.1rem
    margin-left: 1rem
  p
    margin-left: 1.5rem
  ul
    margin-left: 2rem

/* auth */

.auth-form .form-control-label
  padding-top: 0

/* room */

.room
  position: absolute
  top: $header-height
  bottom: 0
  left: 0
  right: 0
  overflow: hidden

.players-container
  position: absolute !important
  top: 0
  bottom: 0
  left: 0
  width: 50%
  background-color: mix($bg-color, $bg-color2, 75%)
  // resize: horizontal
  // overflow: hidden

.chat-container
  font-family: -apple-system,BlinkMacSystemFont,Verdana,Roboto,"Helvetica Neue",Arial,sans-serif
  font-size: 0.8rem
  position: absolute
  top: 0
  bottom: 0
  left: 50%
  right: 0
  overflow: hidden
  background-color: $bg-color

/* chat */

// general

.chat-main,
.chat-aside
  position: absolute
  top: 0
  bottom: $chat-input-height
  left: 0
  right: 0
  word-wrap: break-word

.chat-main
  // top: $chat-top-height
  width: 70%

.chat-main > .tse-scrollable
  position: absolute
  top: $chat-top-height
  bottom: 0
  left: 0
  right: 0
  word-wrap: break-word

.chat-aside
  left: 70%
  background-color: lighten($bg-color2,4%)

.chat-aside-count,
.chat-aside-userlist
  padding: 0.5rem

.chat-top
  // height: $chat-top-height
  line-height: $chat-top-height
  font-size: 0.7rem
  padding: 0 0.5rem
  border-bottom: 1px solid $bg-color2
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  // background-color: $bg-color2

.chat-bottom
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: $chat-input-height

.chat-ul
  padding: 5px 12px
  margin: 0
  overflow: auto
  list-style-type: none

// messages

.chat-ul > li
  position: relative
  vertical-align: middle
  white-space: nowrap
  margin: 0 0 2px

.chat-msg-content,
.chat-notification,
.chat-my-whisper,
.chat-whisper
  position: relative
  display: inline-block
  // background-color: desaturate(lighten($bg-color3, 3%),3%)
  background-color: $bg-color3
  padding: 0.25rem 0.5rem
  border-radius: 5px
  box-sizing: border-box
  white-space: normal

.chat-msg-content
  left: 2.5rem
  max-width: calc(100% - 2.5rem)

.chat-notification,
.chat-my-whisper,
.chat-whisper
  margin: 0.5rem 0
  display: block
  font-size: 0.7rem

.chat-notification
  background-color: $bg-color2
  color: darken($color-text, 10%)
  .icon
    font-size: 0.8rem

.chat-notification.quit,
.chat-notification.error,
  background-color: mix($bg-color2, $color-danger, 90%)
.chat-notification.offline,
  background-color: mix($bg-color2, $color-info, 90%)
.chat-notification.quit .icon,
.chat-notification.error .icon,
.chat-notification.offline .icon,
  color: saturate(lighten($color-danger,25%),25%)

.chat-notification.success,
.chat-notification.join,
  background-color: mix($bg-color2, $color-success, 90%)
.chat-notification.info,
.chat-notification.live,
  background-color: mix($bg-color2, $color-info, 80%)
.chat-notification.success .icon,
.chat-notification.join .icon,
  color: saturate(lighten($color-success,25%),25%)
.chat-notification.info .icon,
.chat-notification.live .icon,
  color: saturate(lighten($color-info,25%),25%)

.chat-msg-bag,
.chat-msg:first-child
  display: inline

.chat-msg
  display: block
  padding: 0.1rem 0

.chat-msg + .chat-msg
  border-top: 1px dashed lighten($bg-color3, 20%)
  margin-top: 0.2rem

.chat-avatar
  height: 1.7rem
  width: auto
  max-width: 1.7rem
  position: absolute
.rounded-avatars .chat-avatar
  border-radius: 17%
.circle-avatars .chat-avatar
  border-radius: 50%


.chat-ul .chat-user,
.userlist-user .chat-user
  cursor: pointer
  &:hover
    text-decoration: underline

.chat-user-guest
  font-style: italic

.chat-time
  color: $color-muted
  font-size: 0.8em

.chat-link
  color: $color-chat-link
.chat-link:hover,
.chat-link:focus
  color: $color-text

.chat-link.truncated
  display: inline-block
  max-width: 20rem
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  vertical-align: bottom

.chat-attachments
  margin-top: 5px
  display: block
  margin-bottom: -5px

.chat-link-img
  margin-bottom: 5px
.chat-link-img:not(:last-of-type)
  margin-right: 5px

.chat-link-img,
.chat-attachment-img
  position: relative
  min-height: 10px
  max-height: 100px
  max-width: 100%
  display: inline-block
  vertical-align: middle


.chat-hide-inline-img
  color: $color-text
  position: absolute
  top: 3px
  right: 3px
  display: none
  text-shadow: 0 1px 4px #000
  z-index: 2

.chat-link-img:hover > .chat-hide-inline-img
  display: block

.chat-msg-history
  opacity: 0.7

// aside

.chat-aside-userlist
  list-style-type: none

.chat-aside-count
  border-bottom: 1px solid $bg-color3

.chat-user-count,
.chat-guest-count,
  color: mix($color-muted, $color-text, 25%)

.chat-user-away
  font-style: italic
.chat-user-away:after
  content: ' (away)'

// bottom

.chat-input-form
  position: relative
  height: 100%
  input
    height: 100%
    display: inline-block
    border: 0 !important
    border-radius: 0 !important
    vertical-align: top
    // font-family: Arial, sans-serif
    color: $color-text !important

.chat-input
  width: calc(100% - 100px)
  background-color: $bg-color3 !important
  padding: 0 5px
  font-size: 0.8rem

.chat-submit
  width: 100px
  background-color: lighten($bg-color3, 5%) !important
  font-size: 0.9rem
  font-weight: bold

.chat-user,
.chat-input,
.chat-submit,
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4)

