$bg-color: #191719;
$bg-color2: #2b272d;
// $bg-color3: #443a43;
$bg-color3: desaturate(lighten(#443a43, 5%),2%);
$fg-color: #3a303a;

// $bg-color: #1F2023;
// $bg-color2: #2F2F2F;
// $bg-color3: #454545;

$font-color:      #ffffff;
$link-color:      #cb3864;
$color-primary:   #cb3864;
$color-secondary: #5c4a51;
$color-info:      #454593;
$color-success:   #4f7244;
$color-warning:   #f49716;
$color-danger:    #6d1917;
$color-muted:     mix($font-color, $color-secondary, 25%);

$btn-primary-color:    $font-color;
$btn-primary-bg:       $color-primary;
$btn-primary-border:   $color-primary;
$btn-secondary-color:  $font-color;
$btn-secondary-bg:     $color-secondary;
$btn-secondary-border: $color-secondary;
$btn-info-color:       $font-color;
$btn-info-bg:          $color-info;
$btn-info-border:      $color-info;
$btn-success-color:    $font-color;
$btn-success-bg:       $color-success;
$btn-success-border:   $color-success;
$btn-warning-color:    $font-color;
$btn-warning-bg:       $color-warning;
$btn-warning-border:   $color-warning;
$btn-danger-color:     $font-color;
$btn-danger-bg:        $color-danger;
$btn-danger-border:    $color-danger;

body {
  color: #eeeeee;
  background-color: $bg-color;
}

a {
  color: $link-color;
}
a:active,
a.active {
  color: saturate(lighten($link-color, 30%), 30%);
}
a:hover,
a.hover,
a:focus,
a.focus {
  color: darken($link-color, 15%);
}

h1 {
  font-size: 1.5rem
}
h2 {
  font-size: 1.4rem
}
h3 {
  font-size: 1.3rem
}
h4 {
  font-size: 1.2rem
}
h5 {
  font-size: 1.1rem
}
h6 {
  font-size: 1rem
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dddddd;
}

.page-header {
  border-bottom-color: $fg-color;
}

hr {
  border-top-color: $fg-color;
  border-bottom-color: $fg-color;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-control {
  background-color: lighten($fg-color, 5%);
  color: #ddd;
  border-color: #3d363d;
  border-radius: 0.15rem;
  &:disabled {
    background-color: darken($fg-color, 8%);
    color: #999;
  }
  &:focus {
    background-color: lighten($fg-color, 10%);
    color: #ddd;
    border-color: #f9a3bd;
    outline: 0;
  }
}

// @media (-moz-touch-enabled) {
  // input[type="radio"] {
  //   display: inline-block;
  //   height: auto;
  //   width: auto;
  // }
// }
.modal .form-inline .form-control {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
}


code {
  background-color: rgba(255,255,255,0.1);
  color: $font-color;
}

.text-muted {
  color: $color-muted !important;
}

.card {
  background-color: $bg-color2;
  border-color: $bg-color3;
}
.card-header {
  background-color: $bg-color3;
}

.jumbotron {
  background-color: $bg-color2;
}

.list-group-item {
  background-color: $bg-color;
  border: 1px solid $bg-color3;
}
.list-group-item:hover,
.list-group-item:focus {
  background-color: lighten($bg-color, 5%);
}
.list-group-item-action {
  color: $color-primary;
}
.list-group-item-action:hover,
.list-group-item-action:focus {
  color: $color-primary;
}

.btn {
  color: #333333;
}


@mixin button-variant($color, $bg, $border) {
  $active-background: darken($bg, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $bg;
  border-color: $border;

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    background-image: none;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($bg, 17%);
          border-color: darken($border, 25%);
    }
  }

  &.disabled,
  &:disabled {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background-color: $bg;
          border-color: $border;
    }
  }
}

@mixin button-outline-variant($color) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $color;
        border-color: $color;
  }

  &.disabled,
  &:disabled {
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }
  }
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}
.btn-secondary-outline {
  @include button-outline-variant($btn-secondary-border);
}
.btn-info-outline {
  @include button-outline-variant($btn-info-bg);
}
.btn-success-outline {
  @include button-outline-variant($btn-success-bg);
}
.btn-warning-outline {
  @include button-outline-variant($btn-warning-bg);
}
.btn-danger-outline {
  @include button-outline-variant($btn-danger-bg);
}

@mixin alert-variant($color) {
  color: $color;
  background-color: lighten($color, 50%);
  border-color: lighten($color, 40%);
}

.alert {
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.alert-success {
  @include alert-variant($color-success);
}
.alert-info {
  @include alert-variant($color-info);
}
.alert-warning {
  @include alert-variant($color-warning);
}
.alert-danger {
  @include alert-variant($color-danger);
}

/* .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
} */

/*.navbar-inner {
background-image: -moz-linear-gradient(top, #242024, #242024);
background-image: -ms-linear-gradient(top, #242024, #242024);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#242024), to(#242024));
background-image: -webkit-linear-gradient(top, #242024, #242024);
background-image: -o-linear-gradient(top, #242024, #242024);
background-image: linear-gradient(top, #242024, #242024);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'242024, endColorstr='#'242024, GradientType=0);
}
.navbar .brand {
padding: 8px 20px 12px;
font-size: 20px;
color: #8e8e8e;
}
.navbar .divider-vertical {
background-color: $fg-color;
}
.navbar .nav > li > a {
color: #666666;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
color: #424242;
}
height: 41px;
border-right: 1px solid $fg-color;
font-size: 14px;
padding: 10px 10px 11px;*/

.label,
.badge {
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-warning,
.badge-warning {
  background-color: #468847;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}