.players
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-content: flex-start
  align-items: stretch
  width: 100%

.player
  border: 1px solid #111
  box-sizing: border-box
  min-width: 300px
  min-height: 200px
  flex: 0 50%
  position: relative

.video-wrapper,
.video-js,
.vjs-fluid:not(.vjs-has-started)
  height: 100% !important
  width: 100%
  position: relative

// .vjs-has-started .vjs-poster
//   display: block
// .vjs-seeking .vjs-poster,
// .vjs-waiting .vjs-poster
//   display: block !important

// .video-js
// .vjs-fluid:not(.vjs-has-started)
//   width: auto
//   height: 100%
//   position: relative
// @media all and (max-width: 1206px)
//   .video-js,
//   .vjs-fluid:not(.vjs-has-started)
//     width: auto
//     height: 117px
//   .player
//     min-width: 200px
//     min-height: 117px

// .vjs-poster,
// .player
//   background-color: #262626

.player-small
  flex: 0

.player-large
  flex: 1 100%

.player-menu
  display: flex
  align-items: center
  flex-flow: row nowrap
  background-color: #24272B
  padding: 5px

.player-channel
  flex: 1 100%
  color: #ccc
  font-size: 0.75em

.player-menu-button
  cursor: pointer
  margin: 0 3px
  font-size: 0.7em

.player-menu-button:hover
  text-shadow: 0 0 10px rgba(255,255,255,0.5)


.player-menu-compress,
.player-large .player-menu-expand
  display: none

.player-menu-expand,
.player-large .player-menu-compress
  display: inline-block

.players-help
  display: none
.players-help:only-child
  display: block

// .vjs-fullscreen-control
//   margin-left: auto !important
