.page-settings
  .sidebar
    border: 1px solid #3a303a
    .nav-heading
      margin: 0
      font-size: 1rem
      font-weight: bold
      background: #3a303a
    .nav-item
      position: relative
      display: block
      padding: 0.75rem
      border-bottom: 1px solid #3a303a
    .nav-item:last-child
      border-bottom: 0
    .nav-item.active
      background: linear-gradient(to right, #f9a3bd1a 0%,  #f9a3bd00 100%)
      background: linear-gradient(to right, rgba(249,163,189,0.1) 0%, rgba(249,163,189,0.02) 100%)
    .nav-item.active:before
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 2px
      content: " "
      background: #f9a3bd
  .main
    padding: 0.75rem
    h1,
    h2
      border-bottom: 2px solid #3a303a
    .form-group
      margin: 0 0 1rem
      .form-control
        width: 500px
        max-width: 100%
      .form-control[name=avatar]
        width: 384px
  .connection-group
    margin: 1rem 0
    padding: 0.5rem
    min-height: 120px
    background: linear-gradient(to right, #f9a3bd1a 0%,  #f9a3bd05 100%)
    background: linear-gradient(to right, rgba(249,163,189,0.1) 0%, rgba(249,163,189,0.02) 100%)
  .connection-icon-container
    text-align: center
  .connection-icon
    height: auto
    max-width: 100%
  .connection-title
    font-weight: bold
    font-size: 1.2em
dd
  position: relative
.chatcolor
  height: 50px
  width: 50px
  border: 3px solid #fff
.colorpicker
  height: 50px
  width: 434px
  max-width: calc(100% - 66px)
  position: relative
  border: 3px solid #fff
  background: linear-gradient(to right, rgb(225, 32, 32) 0%, rgb(225, 225, 32) 15%, rgb(32, 225, 32) 30%, rgb(32, 225, 225) 50%, rgb(32, 32, 225) 65%, rgb(225, 32, 225) 80%, rgb(225, 32, 32) 100%)