{>"layout" simple=1/}

{<bodyContent}
{^user}
  <div class="small-block auth-form mx-auto">
    <h1 class="text-xs-center">Log in</h1>
    <p class="text-xs-center text-muted">and start chatting</p>
    <div class="alert-container"></div>
    <div class="card card-body">
      <form action="/auth/login" method="post" accept-charset="utf-8" id="login-form">
        <div class="form-group">
          <label for="username" class="form-control-label sr-only">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username"/>
        </div>
        <div class="form-group">
          <label for="password" class="form-control-label sr-only">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
        </div>
      </form>
    </div>
    <div class="card card-body">
      <p class="card-text text-xs-center">No account yet? <a href="/auth/signup" class="card-link">Sign up here</a>.</p>
    </div>
  </div>
{:else}
  <div class="small-block mx-auto">
    <h1 class="text-xs-center">You are already logged in!</h1>
    <div class="card card-body">
      <p><a href="/auth/logout" class="btn btn-primary btn-lg btn-block">Log out</a></p>
    </div>
  </div>
{/user}

  {<scriptBottomBlock}
    {@js}/js/forms{/js}
    <script>
      $('#login-form').submit(formSubmitter());
    </script>
  {/scriptBottomBlock}
{/bodyContent}
