{>"layout" simple=1/}

{<bodyContent}
{^user}
  <div class="small-block auth-form mx-auto">
    <h1 class="text-xs-center">Sign up</h1>
    <p class="text-xs-center text-muted">for a new Picchan account</p>
    <div class="alert-container"></div>
    <div class="card card-body">
      <form action="/auth/signup" method="post" accept-charset="utf-8" id="signup-form">
        <div class="form-group">
          <label for="email" class="form-control-label sr-only">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email"/>
          <p class="form-control-help">Valid email address</p>
        </div>
        <div class="form-group">
          <label for="username" class="form-control-label sr-only">Username</label>
          <input type="text" class="form-control" name="username" placeholder="Username"/>
          <p class="form-control-help">Letters and numbers only</p>
        </div>
        <div class="form-group">
          <label for="password" class="form-control-label sr-only">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password"/>
          <p class="form-control-help">At least 6 characters</p>
        </div>
        <div class="form-group">
          <label for="password_confirm" class="form-control-label sr-only">Password confirmation</label>
          <input type="password" class="form-control" name="password_confirm" placeholder="Password confirmation"/>
          <p class="form-control-help">Type the password again</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
        </div>
      </form>
    </div>
    <div class="card card-body">
      <p class="card-text text-xs-center">Already have an account? <a href="/auth" class="card-link">Log in here</a>.</p>
    </div>
  </div>
{:else}
  <div class="small-block mx-auto">
    <h1 class="text-xs-center">You are already logged in!</h1>
    <div class="card card-body">
      <a href="/auth/logout" class="btn btn-primary btn-lg btn-block">Log out</a></p>
    </div>
  </div>
{/user}

  {<scriptBottomBlock}
    {@js}/js/forms{/js}
    <script>
      $('#signup-form').submit(formSubmitter());
    </script>
  {/scriptBottomBlock}
{/bodyContent}
