{>"layout" simple=1/}

{<bodyContent}
  <h1>Error {error.status}</h1>
  {?error.message} <h2 class="text-muted">{error.message}</h2>{/error.message}
  <p class="mt-3">Not much to see here.</p>
  <p>Go somewhere like the <a href="/">front page</a> instead. Better luck next time.</p>
  <div>
    <img src="/images/error.png" alt="Error" class="img-fluid" style="position:fixed;right:0;bottom:0;z-index:-1;max-height:50%;">
  </div>
{/bodyContent}