{>"layout" bodyClasses="page-settings"/}

{<bodyContent}
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <nav class="rounded sidebar">
          <a class="nav-item nav-link {@eq key=settingsPage value="favorites"}active{/eq}" href="/settings/favorites"><i class="fa fa-star"></i> Favorite rooms</a>
          <h3 class="nav-item nav-heading">Settings</h3>
          <a class="nav-item nav-link {@eq key=settingsPage value="profile"}active{/eq}" href="/settings/profile">Profile</a>
          <a class="nav-item nav-link {@eq key=settingsPage value="account"}active{/eq}" href="/settings/account">Account</a>
          <a class="nav-item nav-link {@eq key=settingsPage value="connections"}active{/eq}" href="/settings/connections">Connections</a>
         {?user.admin}
          <h3 class="nav-item nav-heading">Admin settings</h3>
          <a class="nav-item nav-link {@eq key=settingsPage value="news"}active{/eq}" href="/settings/admin/news">News articles</a>
          {! <a class="nav-item nav-link {@eq key=settingsPage value="chat"}active{/eq}" href="chat">Chat</a> !}
         {/user.admin}
        </nav>
      </div>
      <div class="col-sm-9">
        <div class="rounded main">
          {+settingsContent/}
        </div>
      </div>
    </div>
  </div>
{/bodyContent}

{<styleBlock}
{@css}/css/settings{/css}
{/styleBlock}